.language__item {
    background-color: #383B46;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language__box {
    display: flex;
    align-items: center;
}

.language__flag {
    display: flex;
}

.language__country {
    margin-left: 10px;
}

.language__skeleton {
    display: flex;
    width: 100%;
}

.language__skeleton-box-wid {
    width: 100% !important;
}