.offer__action {
    display: flex;
    justify-content: flex-end;
}


.offer__content {
    margin: 0;
    padding: 15px;
    border: none !important;
}

.offer__star-icon {
    margin-right: 5px;
    color: #F59337 !important;
}

.offer__image {
    padding: 0px 16px !important;
}