.offer__action {
    display: flex;
    justify-content: flex-end;
}

.offer__layout {
    padding: 0 24px 24px;
    margin-top: 20px;
}

.offer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.offer__content {
    margin: 0;
    padding: 15px;
    border: none !important;
}