@import './function/strip-unit.scss';

@function calcFluidFontSize($min, $max, $w-min, $w-max, $units: px) {
    $min: strip-unit($min);
    $max: strip-unit($max);
    $w-min: strip-unit($w-min);
    $w-max: strip-unit($w-max);

    $k: ($max - $min)/($w-max - $w-min);
    $b: $min - $k * $w-min;
    $b: $b + $units;

    @return calc(#{$k} * 100vw + #{$b});
}



@mixin gap($min, $max, $w-min, $w-max) {

    gap: $min;

    @media (min-width: $w-min) {
        gap: calcFluidFontSize($min, $max, $w-min, $w-max);
    }

    @media (min-width: $w-max) {
        gap: $max;
    }
}